body {
	background-color: #FFF;
}

.navbar-default {
	background-color: #FFF;
	border: none;
}

.navbar-header {
	padding: 30px;
}

.navbar-toggle {
	border: none;
	margin: 0;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #000;
	height: 4px;
	width: 30px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #FFF;
}

.logo {
	background: url(../../../assets/img/logo.png) no-repeat center center;
	height: 47px;
	width: 198px;
	text-indent: -9999px;
}
.logo.logo-bw {
	background: url(../../../assets/img/logo-bw.png) no-repeat center center;
}
.logo > a {
	display: block;
	height: 47px;
	width: 198px;
}

.logo-footer {
	margin: 50px auto 10px;
}

.navbar-default .navbar-nav > li > a {
	color: #000;
	font-family: custom-medium;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	text-decoration: underline;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	background-color: #FFF;
	color: #D40000;
}




.footer {
	background-color: #1F1F1F;
	padding: 60px 0 40px;
}

.foot-nav > ul {
	list-style-type: none;
	padding: 0;
	text-align: center;
}
.foot-nav > ul > li {
	display: inline;
}
.foot-nav > ul > li > a {
	color: #FFF;
	font-family: custom-medium;
	font-size: 15px;
	letter-spacing: 1px;
	padding: 5px 60px;
	text-transform: uppercase;
}
.foot-nav > ul > li > a:hover {
	text-decoration: underline;
}

.social {
	float: right;
}
.social a {
	color: #FFF;
	font-size: 18px;
}

@media only screen and (max-width: 768px) {

	.foot-nav > ul > li > a {
		padding: 5px 10px;
	}

	.social {
		float: none;
		font-size: 20px;
		margin: 20px auto 0;
		text-align: center;
	}

	.logo-footer {
		margin: 30px auto 10px;
	}

}

@media only screen and (min-width: 767px) {

	.navbar-default {
		padding: 35px 60px;
	}

	.navbar-header {
		padding: 0;
	}

}



